<h1 class="mb-4">Checkout</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @cart.each do |item| %>
      <tr>
        <td><%= item[:product].name %></td>
        <td>$<%= item[:product].price %></td>
      </tr>
    <% end %>
    <tr>
      <td><strong>Total</strong></td>
      <td><strong>$<%= @total %></strong></td>
    </tr>
  </tbody>
</table>

<%= form_with url: checkout_path, method: :post, class: "d-flex justify-content-between" do |f| %>
  <%= f.submit "Confirm Purchase", class: "btn btn-success" %>
</div>
<% end %>
