<h1 class="mb-4">Products</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @products.each do |product| %>
    <div class="col">
      <div class="card h-100">
        <img src="https://via.placeholder.com/150" class="card-img-top" alt="<%= product.name %>">
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text">$<%= product.price %></p>
          <%= button_to "Add to Cart", add_to_cart_path(product), method: :post, class: "btn btn-success" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Checkout", checkout_path, class: "btn btn-primary mt-4" %>
