<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clover Queen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script type="module">
      import "application"
    </script>
  </head>
   <body>
    <!-- Header -->
    <%= render 'layouts/header' %>

    <% flash.each do |type, message| %>
      <div class="alert alert-<%= bootstrap_alert_class(type) %> alert-dismissible fade show">
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <main class="container-fluid">
      <%= yield %>  <!-- Main content of the page -->
    </main>

    <!-- Footer -->
    <%= render 'layouts/footer' %>
  </body>
</html>
