<!DOCTYPE html>
<html>
  <head>
    <title>PointOfSale</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

 <body>
  <% if current_user %>
    Logged in as <%= current_user.email %> |
    <%= button_to "Logout", logout_path, method: :delete %>
    <% if admin? %>
      | <%= link_to "Admin Products", admin_products_path %>
    <% end %>
  <% else %>
    <%= link_to "Login", login_path %>
  <% end %>

  <%= yield %>
</body>

</html>
